# Semana03-02
Samuel Talledo

Temas:
    1. Números
    2. Variables
    3. Manejo de cadenas
    4. Ingreso de datos por teclado
    5. Operadores

2. Variables

In [ ]:
# Siempre deben iniciar con una letra o guin abajo
#Nunca con un numero u otro simbolo

In [2]:
edad=20
edad

20

In [3]:
nombre="Samuel"
nombre

'Samuel'

In [4]:
apellido ="Talledo"
apellido

'Talledo'

In [5]:
nombrecompleto ="Elias Samuel Talledo Vega"
nombrecompleto

'Elias Samuel Talledo Vega'

In [6]:
nombrecompleto = nombre + " " + apellido
nombrecompleto

'Samuel Talledo'

In [ ]:
#Para saber el tipo de variable utilizamos la función type()
#Por ejemplo

In [7]:
numero =50
type(numero)

int

In [8]:
nombre

'Samuel'

In [10]:
nombre
type (nombre)

str

In [11]:
talla =1.70
talla

1.7

In [12]:
type(talla)

float

In [13]:
numero =100
cadena =str(numero)
cadena

'100'

In [14]:
cadena2 = "50"
numero2 = int (cadena2)
numero2

50

In [15]:
type(numero2)

int