# Semana03-03
Samuel Talledo

Temas:
    1. Números
    2. Variables
    3. Manejo de cadenas
    4. Ingreso de datos por teclado
    5. Operadores

3. Manejo de cadenas

In [1]:
cadena = "Universidad Nacional Tecnológica de Lima Sur"
cadena

'Universidad Nacional Tecnológica de Lima Sur'

In [ ]:
# Universidad Nacional Tecnológiuca de Lima Sur
# 0123456789...................................
# ...............................-7-6-5-4-3-2-1

In [2]:
cadena[5]

'r'

In [3]:
cadena[21]

'T'

In [4]:
cadena[-23]

'T'

In [5]:
cadena[11]

' '

In [7]:
# Para mostrar una subcadena [desde, hasta una antes]
# En java era substring()
cadena [3:8]

'versi'

In [8]:
# Para saber el tamaño de mi cadena utilizamos len()
# Incluye espacios en blanco
len(cadena)

44

In [10]:
# Mostrar una cadena con mayusculas upper()
cadena.upper()

'UNIVERSIDAD NACIONAL TECNOLÓGICA DE LIMA SUR'

In [11]:
#Mostrar una cadena con minusculas lower()
cadena.lower()

'universidad nacional tecnológica de lima sur'

In [12]:
# Generar una lista a partir de la cadena.split()
cadena.split()

['Universidad', 'Nacional', 'Tecnológica', 'de', 'Lima', 'Sur']

In [13]:
# Generar una lista utilizando un criterio de separación a partir de una cadena.split
# En este caso vamos a generar una lista de toda la cadena
# Utilizando como criterio de separación la letra "n"
cadena.split("n")

['U', 'iversidad Nacio', 'al Tec', 'ológica de Lima Sur']

In [14]:
# Forma clásica, concatenar con +
nombre = "Elias Samuel Talledo Vega"
print ("Buenos días" + " " + nombre)

Buenos días Elias Samuel Talledo Vega

In [15]:
# Utilizando el .format()
nombre = "Elias Samuel Talledo Vega"
edad = 20
print ("Hola {} ya se que tienes {} años".format(nombre,edad))

Hola Elias Samuel Talledo Vega ya se que tienes 20 años

In [16]:
# Dar formato a números con muchos decimales
resultado = 10/3
print("10/3 es {}".format(resultado))
print("10/3 es {r:1.2f}".format(r=resultado))

10/3 es 3.3333333333333335
10/3 es 3.33

In [20]:
# Dar formato con f
# La funcion f, esta disponible desde la version 3.6
nombre = "Urbi Huamani"
edad = 30
print(f"Buenos días {nombre},ya que se que cumpliste {edad} años")

Buenos días Urbi Huamani,ya que se que cumpliste 30 años

In [19]:
# Dar formato a numeros con muchos decimales con f
resultado = 10/3
print(f"10/3")

10/3